<app-menu></app-menu>

<div class='component-content' *ngIf='prli'> 

	<div>
		<span class='component-title'>{{title}}</span> 
		 <span><a routerLink='/prli/create'><img id='createnew' width='20' height='20' src='assets/add-new.png' title='Add New'></a></span>
		| <span><a routerLink='/prli/list/{{prli.PurchaseRequestID}}'>Back to list</a></span>
	</div>
	
	<p *ngIf='undefined'>Loading ...</p>
		<table> 
		<tr><th>ID: </th><td>{{prli.Id}}</td></tr>
		<tr><th>PurchaseRequestID: </th><td>{{prli.PurchaseRequestID}}</td></tr>	 
		<tr><th>Product Name: </th><td>{{prli.ProductName}}</td></tr>
		<tr><th>Product Price: </th><td>{{prli.ProductPrice | currency}}</td></tr>
		<tr><th>Quantity: </th><td>{{prli.Quantity}}</td></tr>
		<tr><th>Line Item Total: </th><td>{{prli.LineItemTotal | currency}}</td></tr>
		<!-- <tr><th>Line Item Total: </th><td>{{prli.LineItemTotal}}</td></tr> -->

		<tr>
			<td colspan="2">
				<a routerLink='/prli/edit/{{prli.Id}}' class='btn btn-primary' title='Edit'>Edit</a>
				<button (click)="remove(prli.Id)" class='btn btn-danger' title='Delete'>Remove</button>
			</td>
		</tr>
	</table>
</div>
