<app-menu></app-menu>

<div *ngIf='!SysSvc.data.user.loggedIn'>
	<p>
		<i class="material-icons" style="font-size:48px;color:red">warning</i>
		<a routerLink='/user/login'></a>
	</p>
	<span>WARNING: Please login!</span>
</div>	
<div *ngIf='SysSvc.data.user.loggedIn'>
	<p *ngIf='!users'>The data is loading...</p>

	<div class='component-content'>
		<div class=''>
			<div class='lefthalf'>
				<span class='component-title'>{{title}}</span> 
				 <span>
				 		<a routerLink='/user/create' *ngIf='SysSvc.data.user.instance.IsAdmin'>
				 			<img id='createnew' width='20' height='20' src='assets/add-new.png' title='Add New'> 
				 		</a>			 		
				 </span>	 
			</div>

			<div class='righthalf input-group'>
				<span class=''>Sort:</span>
				<select [(ngModel)]='selectedSortKey' class='custom-select text-sm-left'>
					<option *ngFor='let sortKey of sortKeys' value='{{sortKey}}'>{{sortKey}}</option>
				</select>
				<span>Order:</span>
				<select [(ngModel)]='sortDesc' class='custom-select text-sm-left'>
					<option value='asc'>Asc</option>
					<option value='desc'>Desc</option>
				</select>
			
			</div>
		</div>

	<div> 
		<!-- <p *ngIf='!users'>The data is loading...</p> -->
		<table class='table table-sm' *ngIf='users'>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Username</th>
				<!-- <th>Password</th> -->
				<th>Phone</th>
				<th>Email</th>
				<th>Priv</th>
				<!-- <th>Active</th> -->
				<th>Action</th>
			</tr>
			<tr *ngFor='let user of users | sort:selectedSortKey:sortDesc'>
				<td>{{user.Id}}</td>
				<td>{{user.FirstName}} {{user.LastName}}</td>
				<td>{{user.Username}}</td>
				<!-- <td>{{user.Password}}</td> -->
				<td>{{user.Phone}}</td>
				<td>{{user.Email}}</td>
				<td>
					{{user.IsAdmin ? 'Adm' : ''}} {{user.IsReviewer ? 'Rev' : ''}} {{user.IsActive ? 'Act' : ''}}
				</td>
				<td class='actions'>
					<a routerLink='/user/detail/{{user.Id}}'><img src='assets/detail.png' title='Detail'></a>
					<a routerLink='/user/edit/{{user.Id}}' *ngIf=
'SysSvc.data.user.instance.IsAdmin && user.Id != SysSvc.data.user.instance.Id || 
 user.Id == SysSvc.data.user.instance.Id'
><img src='assets/edit.png' title='Edit'>
					</a>

<!-- 					<a routerLink='/user/edit/{{user.Id}}' *ngIf='SysSvc.data.user.instance.IsAdmin || user.Id == SysSvc.data.user.instance.Id'><img src='assets/edit.png' title='Edit'>
					</a> -->
				</td>
			</tr>
		</table>
		<p>{{searchCriteria}}</p>
	</div>
</div>
