<app-menu></app-menu>

<div class='component-content' *ngIf='product'>  <!-- Wo ngIf console shows undefined 'id' error -->
	<div>
		<span class='component-title'>[{{title}}]</span> 
		 <span><a routerLink='/product/create'><img id='createnew' width='20' height='20' src='assets/add-new.png' title='Add New'></a></span>
		| <span><a routerLink='/product/list'>Back to list</a></span>
	</div>

	<p *ngIf='undefined'>Loading ...</p>
		<table> <!-- Interpolation uses JSON camelcase-->
		<tr><th>ID:</th><td>{{product.Id}}</td></tr>
		<tr><th>VendorID:</th><td>{{product.VendorId}}</td></tr>
		<tr><th>PartNumber:</th><td>{{product.PartNumber}}</td></tr>
		<tr><th>Name:</th><td>{{product.Name}}</td></tr>
		<tr><th>Price:</th><td>{{product.Price}}</td></tr>
		<tr><th>Unit:</th><td>{{product.Unit}}</td></tr>
		<tr><th>PhotoPath:</th><td>{{product.PhotoPath}}</td></tr>
			
		<tr><td colspan="2">
			<a routerLink='/product/edit/{{product.Id}}' class='btn btn-primary' title='Edit'>Edit</a>
			<button (click)="remove(product.Id)" class='btn btn-danger' title='Delete'>Remove</button>
		</td></tr>

	</table>
</div>	

<!--     <div class='form-group row'>
      <label class='col-form-label col-sm-2' for='productvendor'>Vendor:</label>
      <div class='col-sm-6 select-list'>
        <select [(ngModel)]='product.VendorID' [compareWith]='compareFn' class='form-control' name='Vendor' id='product-Vendor'>
          <option *ngFor="let vendor of vendors" [ngValue]="vendor.Id" [selected]='vendorID == product.VendorID'>{{vendor.Name}}</option> 
        </select>
      </div>
    </div> -->