<div>

</div>	

<div class='component-content'>
	<form class='text-center'>
		<table *ngIf='user' class='table-sm' style='margin:100px auto;padding:50px 50px;border:1px solid silver;width:500px;'>
			<tr class='text-center' style='font-size: 1.5em; font-weight: bold;'>
				<td colspan="4">Welcome to the Purchase Request System!</td>
			</tr>
			<tr>
				<td colspan="2" style='font-weight: bold;'>Please login.</td>
			</tr>
			<tr>
				<td>Username:</td>
				<td><input [(ngModel)]='user.UserName' name='Username' type='text' autofocus></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input [(ngModel)]='user.Password' name='Password' type='password'></td>
			</tr>
			<tr>
				<td class='text-center' colspan="2"><button type='submit' (click)="login()" class='btn btn-primary'>Login</button></td>
			</tr>
			<tr>
				<td colspan="2"><label class='text-sm-left'>{{message}}</label></td>
			</tr>
		</table>
	</form>
</div>