<app-menu></app-menu>
<div>
	<div>
		<span class='component-title'>{{title}}</span> 
		 <span><a routerLink='/user/create'><img id='createnew' width='20' height='20' src='assets/add-new.png' title='Add New'></a></span>
		| <span><a routerLink='/user/list'>Back to list</a></span>
	</div>
<p *ngIf='undefined'>Loading ...</p>
<div *ngIf='user'>
  <div class="form-group row">
    <label class='col-form-label col-sm-2' for="userfirstname">First name:</label>
    <input [(ngModel)]='user.FirstName' name='Firstname' type='text' class='form-control col-sm-6' id='userfirstname' aria-describedby='emailHelp' placeholder='First Name'>
    <small id='emailHelp' class="form-text text-muted col-sm-2">User First Name</small>
  </div>

  <div class="form-group row">
    <label class='col-form-label col-sm-2' for="userlastname">Last name:</label>
    <input [(ngModel)]='user.LastName' name='Lastname' type='text' class='form-control col-sm-6' id='userlastname' aria-describedby='emailHelp' placeholder='Last Name'>
    <small id='emailHelp' class="form-text text-muted col-sm-2">User Last Name</small>
  </div>

  <div class="form-group row">
    <label class='col-form-label col-sm-2' for="userusername">Username:</label>
    <input [(ngModel)]='user.Username' name='UserName' type='text' class='form-control col-sm-6' id='userusername' aria-describedby='emailHelp' placeholder='UserName'>
    <small id='emailHelp' class="form-text text-muted col-sm-2">Username</small>
  </div>

  <div class="form-group row">
    <label class='col-form-label col-sm-2' for="userpasswordname">Password:</label>
    <input [(ngModel)]='user.Password' name='Password' type='text' class='form-control col-sm-6' id='userpasswordname' aria-describedby='emailHelp' placeholder='Password'>
    <small id='emailHelp' class="form-text text-muted col-sm-2">Password</small>
  </div>
  <div class="form-group row">
    <label class='col-form-label col-sm-2' for="userphone">Phone:</label>
    <input [(ngModel)]='user.Phone' name='Phone' type="text" class="form-control col-sm-6" id="userphone" aria-describedby="emailHelp" placeholder="Phone">
    <small id="emailHelp" class="form-text text-muted col-sm-2">User Phone Number</small>
  </div>
  <div class="form-group row">
    <label class='col-form-label col-sm-2' for="useremail">Email:</label>
    <input [(ngModel)]='user.Email' name='Email' type="text" class="form-control col-sm-6" id="useremail" aria-describedby="emailHelp" placeholder="Email">
    <small id="emailHelp" class="form-text text-muted col-sm-2">User Email Address</small>
  </div>
  <div class="form-group row">
    <label class='col-form-label col-sm-2' for="useradmin">Admin:</label>
    <input [(ngModel)]='user.IsAdmin' name='admin' type="checkbox" class="form-control col-sm-6" id="useradmin" aria-describedby="adminHelp" placeholder="admin">
    <small id="emailHelp" class="form-text text-muted col-sm-2">Admin Role</small>
  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="userreviewer">Reviewer:</label>
		  <input [(ngModel)]='user.IsReviewer' name='Reviewer' type="checkbox" class="form-control col-sm-6 inputcheckbox" id="userreviewer" aria-describedby="emailHelp" placeholder="Reviewer">
	    <small id="emailHelp" class="form-text text-muted col-sm-2">Reviewer Role</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="useractive">Active:</label>
		  <input [(ngModel)]='user.IsActive' name='Active' type="checkbox" class="form-control col-sm-6 inputcheckbox" id="useractive" aria-describedby="emailHelp" placeholder="Active">
	    <small id="emailHelp" class="form-text text-muted col-sm-2">Active User</small>
	  </div>
	  <div class='form-group'>
	  	<button (click)='change()' class='btn btn-primary'>Update</button>
	  </div>  
</div>
</div>





















 	 	


<!-- 
<app-menu></app-menu>
<div>
</div><div class='component-content'>
	<div>
		<span class='component-title'>[{{title}}]</span> 
		 <span><a routerLink='/user/create'><img id='createnew' width='20' height='20' src='assets/add-new.png' title='Add New'></a></span>
		| <span><a routerLink='/user/list'>Back to list</a></span>
	</div>
	<p *ngIf='undefined'>Loading ...</p>

	<div *ngIf='user'>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="userfirstname">First name:</label>
	    <input [(ngModel)]='user.Firstname' name='Firstname' type="text" class="form-control col-sm-6" id="userfirstname" aria-describedby="emailHelp" placeholder="First Name">
	    <small id="emailHelp" class="form-text text-muted col-sm-2">The first name</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="userlastname">Last name:</label>
	    <input [(ngModel)]='user.Lastname' name='Lastname' type="text" class="form-control col-sm-6" id="userlastname" aria-describedby="emailHelp" placeholder="Last Name">
	    <small id="emailHelp" class="form-text text-muted col-sm-2">The last name</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="userusername">User name:</label>
	    <input [(ngModel)]='user.Username' name='Username' type="text" class="form-control col-sm-6" id="userusername" aria-describedby="emailHelp" placeholder="User Name">
	    <small id="emailHelp" class="form-text text-muted col-sm-2">The user name</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="userpassword">Password:</label>
	    <input [(ngModel)]='user.Password' name='Password' type="text" class="form-control col-sm-6" id="userpassword" aria-describedby="emailHelp" placeholder="Password">
	    <small id="emailHelp" class="form-text text-muted col-sm-2">The password</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="userphone">Phone:</label>
	    <input [(ngModel)]='user.Phone' name='Phone' type="text" class="form-control col-sm-6" id="userphone" aria-describedby="emailHelp" placeholder="Phone">
	    <small id="emailHelp" class="form-text text-muted col-sm-2">The phone</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="useremail">Email:</label>
	    <input [(ngModel)]='user.Email' name='Email' type="text" class="form-control col-sm-6" id="useremail" aria-describedby="emailHelp" placeholder="Email">
	    <small id="emailHelp" class="form-text text-muted col-sm-2">The Email</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="useradmin">Admin:</label>
		  <input [(ngModel)]='user.Admin' name='Admin' type="checkbox" class="form-control col-sm-6 inputcheckbox" id="useradmin" aria-describedby="emailHelp" placeholder="Admin">
	    <small id="emailHelp" class="form-text text-muted col-sm-2">Admin authority</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="userreviewer">Reviewer:</label>
		  <input [(ngModel)]='user.Reviewer' name='Reviewer' type="checkbox" class="form-control col-sm-6 inputcheckbox" id="userreviewer" aria-describedby="emailHelp" placeholder="Reviewer">
	    <small id="emailHelp" class="form-text text-muted col-sm-2">Reviewer authority</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="useractive">Active:</label>
		  <input [(ngModel)]='user.Active' name='Active' type="checkbox" class="form-control col-sm-6 inputcheckbox" id="useractive" aria-describedby="emailHelp" placeholder="Active">
	    <small id="emailHelp" class="form-text text-muted col-sm-2">Active user</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="userdatecreated">Datecreated:</label>
		  <input [(ngModel)]='user.Datecreated' name='Datecreated' type="date" class="form-control col-sm-6" id="userdatecreated" aria-describedby="emailHelp" placeholder="Datecreated" disabled="disabled">
	    <small id="emailHelp" class="form-text text-muted col-sm-2">Datecreated</small>
	  </div>
	  <div class='form-group'>
	  	<button (click)='change()' class='btn btn-primary'>Update</button>
	  </div>
  </div>
</div>

<div class='component-content' *ngIf='user'>  
	Wo ngIf console shows undefined 'id' error 
	{user.LastName}}</td></tr>
		<tr><th>UserName:</th><td>{{user.UserName}}</td></tr>
		<tr><th>Password:</th><td>********</td></tr>
		<tr><th>Phone:</th><td>{{user.Phone}}</td></tr>
		<tr><th>Email:</th><td>{{user.Email}}</td></tr>
		<tr><th>Admin:</th><td>{{user.Admin ? 'Yes':'No'}}</td></tr>
		<tr><th>Reviewer:</th><td>{{user.Reviewer ? 'Yes':'No'}}</td></tr>
		<tr><th>Active:</th><td>{{user.Active ? 'Yes':'No'}}</td></tr>		
	</table>
</div>	
 -->