<app-menu></app-menu>

<div  *ngIf='pr'>

<table class='table table-sm'>
	<tr>
		<!-- <th>ID</th> -->
		<th>User</th>
		<th>Description</th>
		<th>Justification</th>
		<th>Date Needed</th>
        <th>Total</th>		
		</tr>
	<tr>
		<!-- <td>{{pr.Id}}</td>	 -->
		<td>{{pr.UserID}}</td>	
		<td>{{pr.Description}}</td>	
		<td>{{pr.Justification}}</td>	
		<td>Date Needed</td>
	    <td>Total</td>		
	</tr>		
</table>
</div>

<div *ngIf='prlis'>

	<table class='table table-sm'>

		<tr>
			<th>ID</th>
			<!-- <th>PurchaseRequestID</th> -->
			<th>Product</th>
			<th>Quantity</th>				
		</tr>

		<tr *ngFor='let prli of prlis'>
			<td>{{prli.Id}}</td>	
			<!-- <td>{{prli.PurchaseRequestID}}</td>		 -->
			<td>{{prli.ProductName}}</td>	
			<td>{{prli.Quantity}}</td>
		</tr>
	</table>

</div>


<!-- Ttotal allk prli for each prli add, edit, delete -
- Add calc routine in prli java controller
- Call recalc routine from controller.create, edit, delete
-  -->

<!-- SYSSRV inject into detail page to remove 3 btns -->