<app-menu></app-menu>
<div *ngIf='pr'	>	
<div class='component-content'>
	<span class='component-title'>{{title}}</span> 
	 <span>
	 	<a routerLink='/prli/create/{{pr.Id}}' *ngIf='SysSvc.data.user.instance.IsAdmin'><img id='createnew' width='20' height='20' src='assets/add-new.png' title='Add New'>
			| <span><a routerLink='/pr/list'>Back to list</a></span>
	 	</a>
	 </span>
</div>	

<p *ngIf='undefined'>Loading ...</p>

<table class='table table-sm'>
	<tr>
		<!-- <th>ID</th> -->
		<th>User</th>
		<th>Description</th>
		<th>Justification</th>
		<th>Status</th>
		<th>Date Needed</th>
        <th>Total</th>		
		</tr>
	<tr>
		<!-- <td>{{pr.Id}}</td>	 -->
		<td>{{pr.UserName}}</td>	
		<td>{{pr.Description}}</td>	
		<td>{{pr.Justification}}</td>	
		<td>{{pr.StatusDesc}}</td>		
		<td>{{pr.DateNeeded}}</td>
	    <td>{{pr.Total | currency}}</td>	
<!-- 		<tr><td colspan="2">
				<button (click)="change(pr.Id)" class='btn btn-danger' title='Delete'>Remove</button>
			<button type="button" class="btn btn-success">Submit Purchase Request</button>	
		</td></tr>			    	 -->
	</tr>		
</table>
</div>

<div *ngIf='prlis'>

	<table class='table table-sm'>

		<tr>
			<th>ID</th>
			<!-- <th>PurchaseRequestID</th> -->
			<th>Product Name</th>
			<th>Product Price</th>
			<th>Quantity</th>				
			<th>Line Item Total</th>				
		</tr>

		<tr *ngFor='let prli of prlis'>
			<td>{{prli.Id}}</td>	
			<!-- <td>{{prli.PurchaseRequestID}}</td>		 -->
			<td>{{prli.ProductName}}</td>	
			<td>{{prli.ProductPrice | currency}}</td>	
			<td>{{prli.Quantity}}</td>
			<td>{{prli.LineItemTotal | currency}}</td>

			<td class='actions'>
				<a routerLink='/prli/detail/{{prli.Id}}'><img src='assets/detail.png' title='Detail'></a>
				<a routerLink='/prli/edit/{{prli.Id}}'>
					<img src='assets/edit.png' title='Edit'>
				</a>
			</td>

		</tr>

	</table>

</div>

