<app-menu></app-menu>
<p>
  prli-list works!
</p>

    <div class='form-group row'>
      <label class='col-form-label col-sm-2' for='productvendor'>Vendor:</label>
      <div class='col-sm-6 select-list'>
        <select [(ngModel)]='product.VendorID' [compareWith]='compareFn' class='form-control' name='Vendor' id='product-Vendor'>
          <option *ngFor="let vendor of vendors" [ngValue]="vendor.Id" [selected]='vendorID == product.VendorID'>{{vendor.Name}}</option> 
        </select>
      </div>
    </div>