<app-menu></app-menu>

<div class='component-content'>

  <div>
    <span class='component-title'>{{title}}</span> 
    | <span><a routerLink='/pr/list'>Back to list</a></span>
  </div>

  <p *ngIf='undefined'>Loading ...</p>

  <div *ngIf='pr'>

<!--     <div class='form-group row'>
      <label class='col-form-label col-sm-2' for='produtuser'>Vendr:</label>
      <div class='col-sm-6 select-list'>
        <select [(ngModel)]='produt.UserID' [compareWith]='compareFn' class='form-control' name='Vendr' id='produt-Vendr'>
          <option *ngFor="let Vendr of users" [ngValue]="Vendr.Id" [selected]='userID == produt.UserID'>{{Vendr.Name}}</option> 
        </select>
      </div>
    </div> -->

    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="prid">Purch Req ID:</label>
      <input [(ngModel)]='pr.Id' name='prid' type='text' class='form-control col-sm-6' id='prid' aria-describedby='emailHelp' placeholder='PurchReq ID'>
      <small id='emailHelp' class="form-text text-muted col-sm-2">The Purch Req  ID</small>
    </div>

    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="userid">UserID:</label>
      <input [(ngModel)]='pr.UserID'  name='userid' type='text' class='form-control col-sm-6' id='userid' aria-describedby='emailHelp' placeholder='UserID'>
      <small id='emailHelp' class="form-text text-muted col-sm-2">The User ID</small>
    </div>

    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="description">Description:</label>
      <input [(ngModel)]='pr.Description' name='description' type='text' class='form-control col-sm-6' id='description' aria-describedby='emailHelp' placeholder='Description'>
      <small id='emailHelp' class="form-text text-muted col-sm-2">The Description</small>
    </div>  

    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="justification">Justification:</label>
      <input [(ngModel)]='pr.Justification' name='justification' type='text' class='form-control col-sm-6' id='justification' aria-describedby='emailHelp' placeholder='Justification'>
      <small id='emailHelp' class="form-text text-muted col-sm-2">The Justification</small>
    </div>  

    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="dateneeded">DateNeeded:</label>
      <input [(ngModel)]='pr.DateNeeded' name='dateneeded' type='text' class='form-control col-sm-6' id='dateneeded' aria-describedby='emailHelp' placeholder='DateNeeded'>
      <small id='emailHelp' class="form-text text-muted col-sm-2">The Date Needed</small>
    </div>     

    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="deliverymode">DeliveryMode:</label>
      <input [(ngModel)]='pr.DeliveryMode' name='deliverymode' type='text' class='form-control col-sm-6' id='deliverymode' aria-describedby='emailHelp' placeholder='DeliveryMode'>
      <small id='emailHelp' class="form-text text-muted col-sm-2">The Delivery Mode</small>
    </div> 

    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="statusid">StatusId:</label>
      <input [(ngModel)]='pr.StatusID' name='statusid' type='text' class='form-control col-sm-6' id='statusid' aria-describedby='emailHelp' placeholder='StatusId'>
      <small id='emailHelp' class="form-text text-muted col-sm-2">The Status</small>
    </div> 

    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="total">Total:</label>
      <input [(ngModel)]='pr.Total' name='total' type='text' class='form-control col-sm-6' id='total' aria-describedby='emailHelp' placeholder='Total'>
      <small id='emailHelp' class="form-text text-muted col-sm-2">The Total</small>
    </div>  

    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="submitteddate">SubmittedDate:</label>
      <input [(ngModel)]='pr.SubmittedDate' name='submitteddate' type='text' class='form-control col-sm-6' id='submitteddate' aria-describedby='emailHelp' placeholder='SubmittedDate'>
      <small id='emailHelp' class="form-text text-muted col-sm-2">The Submitted Date</small>
    </div>  

    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="reasonforrejection">ReasonForRejection:</label>
      <input [(ngModel)]='pr.ReasonForRejection' name='reasonforrejection' type='text' class='form-control col-sm-6' id='reasonforrejection' aria-describedby='emailHelp' placeholder='ReasonForRejection'>
      <small id='emailHelp' class="form-text text-muted col-sm-2">The Reason for Rejection</small>
    </div>  

    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="updatedbyuser">UpdatedByUser:</label>
      <input [(ngModel)]='pr.UpdatedByUser' name='updatedbyuser' type='text' class='form-control col-sm-6' id='updatedbyuser' aria-describedby='emailHelp' placeholder='UpdatedByUser'>
      <small id='emailHelp' class="form-text text-muted col-sm-2">The User who Updated</small>
    </div>  

    <div class='form-group'>
      <button (click)='change()' class='btn btn-primary'>Update</button>
    </div> 

  </div>

</div>


<!--       <label class='col-form-label col-sm-2' for='pruser'>User:</label>
      <div class='col-sm-6 select-list'>
        <select [(ngModel)]='pr.UserID' [compareWith]='compareFn' class='form-control' name='User' id='pr-User'>
          <option *ngFor="let user of users" [ngValue]="user.Id" [selected]='userID == pr.UserID'>{{user.Name}}</option> 
        </select>
      </div> -->
